
 /*Page PreLoader */
 .loader-wrapper {
    position: fixed;
    background-color: rgba(34,34,34,0.8);
    width: 100%;
    height: 100%;
    z-index:99999;
    top:0;
    left:0;
}

.loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
}

.spinner {
    border-top-color: #2ca0ec;
     
    animation: run 3s cubic-bezier(.73,.19,.6,.67) infinite;    
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent; 
}

.spinner:before {
    border-top-color: #1980b3; 
       
    animation: run 2s cubic-bezier(.73,.19,.6,.67) infinite;       
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;      
}

.spinner:after {
    border-top-color: #70b7da;    
       
    animation: run 1.5s cubic-bezier(.73,.19,.6,.67) infinite;     
}

@keyframes run {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }    
}
